name: Tests
on: [push, pull_request]
jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.14']
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Dependencies
        run: |
          pip install pyflakes pytest gidgethub aiohttp requests pytest-aiohttp pytest-mock pytest-asyncio
      - name: Run Tests
        run: |
          pyflakes .
          pytest
